[과제: udf 등록 및 SQL 처리]
UDF 함수명: age_category(age)
- age가 35살 미만: 'young'
- age가 35살-59살: 'adult'
- age가 60살 이상: 'senior'

데이터프레임
- 변수: name, age (예: '안현', 39)
- 데이터 5개~10개 생성 

SQL 출력 결과: name, age_category(age)

In [1]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.master('local').appName('udf_assignment').getOrCreate()

In [2]:
student =[
    ('John Smith', '25'),
    ('Emily Johnson', '42'),
    ('David Brown', '19'),
    ('Sarah Davis', '35'),
    ('Michael Wilson', '58'),
    ('Jennifer Thompson', '31'),
    ('Christopher Martinez', '47'),
    ('Amanda Taylor', '22'),
    ('Matthew Anderson', '39'),
    ('Olivia Harris', '64')]

In [3]:
schema =['name','age']

In [4]:
df = spark.createDataFrame(student, schema)

In [5]:
df.show()

+--------------------+---+
|                name|age|
+--------------------+---+
|          John Smith| 25|
|       Emily Johnson| 42|
|         David Brown| 19|
|         Sarah Davis| 35|
|      Michael Wilson| 58|
|   Jennifer Thompson| 31|
|Christopher Martinez| 47|
|       Amanda Taylor| 22|
|    Matthew Anderson| 39|
|       Olivia Harris| 64|
+--------------------+---+

In [6]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)

In [7]:
df.createOrReplaceTempView('student')

In [8]:
def age_category(age):
    if 0<=int(age)<35:
        return 'young'
    elif int(age) <60:
        return 'adult'
    elif int(age) >=60:
        return 'senior'
    else: 
        return 'error'

In [9]:
from pyspark.sql.functions import udf

In [10]:
spark.udf.register('age_category', age_category)

In [11]:
spark.sql("SELECT name, age_category(age) AS age_category FROM student").show()

+--------------------+------------+
|                name|age_category|
+--------------------+------------+
|          John Smith|       young|
|       Emily Johnson|       adult|
|         David Brown|       young|
|         Sarah Davis|       adult|
|      Michael Wilson|       adult|
|   Jennifer Thompson|       young|
|Christopher Martinez|       adult|
|       Amanda Taylor|       young|
|    Matthew Anderson|       adult|
|       Olivia Harris|      senior|
+--------------------+------------+